# --- Images (htdocs/img) ---
IMG_ARCHIVE_PATH=/path/to/proceedings-img.tar.gz
# IMG_ARCHIVE_URL=https://s3.us-east-1.wasabisys.com/minio/proceedings-scielo-br/proceedings-img.tar.gz
# IMG_SOURCE_DIR=/path/to/proceedings-img

# --- Bases (bases/) ---
BASES_ARCHIVE_PATH=/path/to/proceedings-bases.tar.gz
# BASES_ARCHIVE_URL=https://s3.us-east-1.wasabisys.com/minio/proceedings-scielo-br/proceedings-bases.tar.gz
# BASES_SOURCE_DIR=/path/to/bases

# --- Bases work (bases-work/) ---
BASES_WORK_ARCHIVE_PATH=/path/to/bases-work.tar.gz
# BASES_WORK_ARCHIVE_URL=https://s3.us-east-1.wasabisys.com/minio/proceedings-scielo-br/bases-work.tar.gz
# BASES_WORK_SOURCE_DIR=/path/to/bases-work
